* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
#prompt {
    display: flex;
    justify-content: center;
    margin: 10px 5px;
}
#root {
    display: flex;
    flex-flow: wrap;
    gap: 0;
    height: 100vh;
}
.square {
    border: 1px solid black;
    flex-basis: calc(100% / 16);
    height: 50px;
}
.square:hover {
    cursor: pointer;
}
.square-on-hover {
    background: rgb(0, 100, 200);
}